version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_instagram_scrapper
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_instagram_scrapper
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  app:
    build: .
    container_name: app_instagram_scrapper
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: uvicorn src.app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  pgdata:
  pgadmin_data:
